@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-subtle: var(--subtle);
}

/* Custom variant for dark mode based on .dark class */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Light Mode Colors */
  --background: #FFFFFF;
  --card: #F1F5F9;
  --primary: #2563EB;
  --secondary: #0EA5E9;
  --text: #0F172A;
  --subtle: #475569;
}

.dark {
  /* Dark Mode Colors */
  --background: #0F172A;
  --card: #1E293B;
  --primary: #3B82F6;
  --secondary: #38BDF8;
  --text: #F8FAFC;
  --subtle: #94A3B8;
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
